.card-with-btn {
  max-width: 255px;
  &__image {
    width: 100%;
    border-radius: 12px;
  }
  &__wrapper {
    margin: 20px auto;
  }
  &__title {
    @include font-settings($font-ubuntu, 16, 1.5, $bold, $color-grey);
    margin-bottom: 10px;
  }
  &__description {
    @include font-settings($font-opensans, 16, 1.5, $regular, $color-grey);
    margin-bottom: 10px;
  }
}
