.hotel-card {
  max-width: 350px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  &__image {
    width: 100%;
    background-size: cover;
    height: 260px;
  }
  &__wrapper {
    max-width: 90%;
    margin: 20px auto 40px;
    background-color: #fff;
  }
  &__title {
    text-transform: uppercase;
    @include font-settings($font-ubuntu, 20px, 1.5, $bold, $color-grey);
  }
  &__description {
    @include font-settings($font-opensans, 16px, 1.5, $regular, $color-grey);
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
}
