.rating {
  display: flex;
  max-width: 250px;
  &__point {
    background-image: url(../../images/rating/gray-star.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 10px;
    &.rating__point_yellow {
      background-image: url(../../images/rating/yellow-star.png);
    }
  }
}
